body {
    font: Lato;
    color: white;
}

p {
    margin: 10px;
}

a {
	color: #03EFE9;
}

/* Containers */
.app-container {
	margin: auto;
	border: 1px solid black;
	border-radius: 25px;
	background-color: #2C2C2C;
	color: white;
	width: 300px;
	height: 433px;
	overflow: hidden;
}

.header {
	padding-left: 20px;
	position: relative;
	z-index: 3;
}



.footer {
	background-color: #313131;
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;
}

/*---- Contacts ----*/
.contact {
	border: 1px solid #131313;
	display: flex;
}

.name {
    display: inline-block;
    width: 30%;
}

.col1 {
	display: inline-block;
	border-right: 1px solid #131313;
	width: 35%;
	padding-left: 20px;
	/* height: 47px; */
}

.col2 {
	display: inline-block;
	color: #4F4F4F;
	width: 65%;
	font-size: 15px;
	text-align: left;
}

.info-wrapper {
	padding-left: 10px;
}



/*---- Status Signals ----*/
.offline {
	background-color: #EA0807;
}

.away {
	background-color: #F9F804;
}

.online {
	background-color: #01FC21;
}

.light {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}


/* JS controller */
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
  }

.hidden {
	display: none;
}

.expanded {
	background-color: #484848;
	position: relative;
	z-index: 10;
}

.expanded .col2 .info-wrapper {
	color: white;
	position: absolute;
	background-color: #484848;
	width: 100%;

}

.expanded .col2 .info-wrapper .email {
	display: none;
}

.expanded .col2 .phone,
.expanded .col2 #email-link,
.expanded .col2 .address {
	display: block;
	position: relative;
}

.contact:last-child.expanded .col2 .info-wrapper,
.contact:nth-last-child(2).expanded .col2 .info-wrapper {
	bottom: 0;
}