body {
    font: Lato;
    color: white;
}

p {
    margin: 10px;
}

/* Containers */
.app-container {
	margin: auto;
	border: 1px solid black;
	border-radius: 25px;
	background-color: #2C2C2C;
	color: white;
	width: 300px;
	height: 433px;
}

.header {
    padding-left: 20px;
}

.contacts-container {
}

.footer {
	background-color: #313131;
	text-align: right;
	padding: 10px;
}

/*---- Contacts ----*/
.contact {
	border: 1px solid #131313;
	display: flex;
}

.name {
    display: inline-block;
    width: 30%;
}



.col1 {
	display: inline-block;
	border-right: 1px solid #131313;
	width: 35%;
	/* height: 47px; */
	padding-left: 20px;
}

.col2 {
	display: inline-block;
	color: #4F4F4F;
	width: 65%;
	font-size: 15px;
	text-align: left;
}

/*---- Status Signals ----*/
.offline {
	background-color: #EA0807;
}

.away {
	background-color: #F9F804;
}

.online {
	background-color: #01FC21;
}

.light {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}


/* JS controller */
.hidden {
	display: none;
}

.expanded {
	background-color: #484848;
	position: relative;
}

.expanded .col2 {
	color: white;
	position: absolute;
	right: 0;
}

.expanded .col2 .phone,
.expanded .col2 .email,
.expanded .col2 .address {
	display: block;
	position: relative;
}